<%= erb :header, :locals => {'title' => 'Preview'} %>
<p>
Here is a preview for <a href="<%= feed_url %>"><%= feed_url %></a>.
</p>

<ul>
    <% datefmt = '%a %b %e %Y' %>
    <% for @item in items %>
        <li><%= @item[:title] %></li>
        <ul>
            <li>Rebroadcast: <%= DateTime.parse(@item[:pubDate]).strftime(datefmt) %></li>
            <li>Originally: <%= DateTime.parse(@item[:origDate]).strftime(datefmt) %></li>
        </ul>
    <% end %>
</ul>

<p>Looks good, don't in?</p>

<p>You can hit up this feed at <a href="<%= rerun_url %>">this link</a>.</p>
<%= erb :footer %>
