<html><head><title>Preview</title></head>
<body>
<p>
Here is a preview for <a href="<%= feed_url %>"><%= feed_url %></a>.
</p>

<ul>
    <% for @item in items %>
        <li><%= @item[0] %></li>
        <ul><li>Originally: <%= @item[2] %>, Rebroadcast: <%= @item[1] %></li></ul>
    <% end %>
</ul>

<p>Looks good, don't in?</p>

<p>You can hit up this feed at <a href="<%= rerun_url %>">this link</a>.</p>
</body>
</html>
